<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449817978587-ejt9qt2llff55851a6h63abeeg32rg1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449817978587-ejt9qt2llff55851a6h63abeeg32rg1u</string>
	<key>API_KEY</key>
	<string>AIzaSyABb7PghsAXlkntxp0JTSsokZShAWjeOBc</string>
	<key>GCM_SENDER_ID</key>
	<string>449817978587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApplication</string>
	<key>PROJECT_ID</key>
	<string>sign-in-test-cde69</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-in-test-cde69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449817978587:ios:18514018e2ea5b81b0cefe</string>
</dict>
</plist>